<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>3-tier deployment</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/AWS_DevOps_Demo_project_Deployment.jpeg" rel="icon">

</head>

<body>
    <h1 style="text-align:center; content:jestify;">** 3-tier deployment ** </h1>

    <p>
        <h1 style="float:left;">Title: Deploying a Three-Tier Application with React.js, Node.js, MongoDB
        using GitHub, Docker, Jenkins CI/CD, ECR, EKS</h1>
    </p>
<div style="margin-left: 10%; margin-top:120px;">
    <p>
    <h3>
        Description: This project demonstrates the deployment process of a three-tier application comprising React.js
        for the front-end,
        Node.js for the back-end, and MongoDB for the database layer. Utilizing a combination of GitHub, Docker, Jenkins
        CI/CD, Amazon ECR,
        and Amazon EKS, this deployment pipeline ensures scalability, reliability, and automation throughout the
        software development lifecycle.
    </h3>
    </p>
    <p>
        1. GitHub: The project leverages GitHub for version control, enabling collaborative development and version
        tracking among
        the development team. Developers can work concurrently on different tiers of the application, managing changes
        through branches and
        pull requests.
    </p>
    <p>
        2. Docker and Amazon ECR: Docker is utilized for containerization, allowing each tier of the application to be
        encapsulated into
        separate containers. Amazon Elastic Container Registry (ECR) is employed as a fully managed Docker container
        registry within the
        AWS ecosystem, ensuring secure storage and retrieval of Docker images for deployment.
    </p>
    <p>
        3. Docker and Amazon ECR: Docker is utilized for containerization, allowing each tier of the application to be
        encapsulated
        into separate containers. Amazon Elastic Container Registry (ECR) is employed as a fully managed Docker
        container registry
        within the AWS ecosystem, ensuring secure storage and retrieval of Docker images for deployment.
    </P>
    <p>
        4. Jenkins CI/CD: Jenkins serves as the core for continuous integration and continuous deployment pipelines.
        Upon changes being pushed to the GitHub repository, Jenkins automatically triggers the CI/CD pipeline. The
        pipeline includes
        stages for building Docker images for the React.js front-end, Node.js back-end, and MongoDB, running tests,
        pushing images to
        Amazon ECR, and deploying containers to Amazon EKS clusters.
    </p>
</div>

    <p>
    <h2>
        <span style="float:left;">Skills :- </span>
    </h2>
    <h3>
        <ul style="float:left; margin-top:5px;">
            Gitlab · Kubernetes · Amazon EKS · Eksctl · Jenkins · Sonarqube · MySQL database · Amazon Elastic Container
            Registry (ECR) · Nginx · Amazon EC2
        </ul>
    </h3>
    </p>

    <body>