<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>End to End Deployment</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/AWS_DevOps_Demo_project_Deployment.jpeg" rel="icon">
</head>

<body>
    <h1 style="text-align:center; content:jestify;">** End to End Deployment ** </h1>
    <p>
    <h1 style="float:left;">Title: End To End Deployment In AWS - DevOps </h1>
    </p>

<div style="margin-left: 10%; margin-top:120px;">
    <p>
    <h3>
        1.Code Commit Integration:Seamlessly push your code to AWS CodeCommit, ensuring version control and
        collaboration.
    </h3>
    </p>

    <p>
        2.Automated Build Process:Initiate automated builds in AWS CodeBuild, transforming your code into a packaged
        .zip file for deployment.
    </p>

    <p>
        3.Efficient Storage Management:Store your packaged code securely in AWS S3, ensuring accessibility and
        scalability.
    </p>
    <p>
        4.Deployment Automation:Deploy your built code with ease using AWS CodeDeploy, ensuring reliable and efficient
        delivery to your target environment.
    </P>
    <p>
        5. Deployment Automation:Deploy your built code with ease using AWS CodeDeploy, ensuring reliable and efficient
        delivery to your target environment
    </p>

    <p>6.Metadata Tracking:Track deployment paths and metadata effortlessly in AWS Artifact, enabling easy reference and
        auditing.</p>
    <p>7.Fully Automated CI/CD Process:Enjoy the benefits of a fully automated continuous integration and continuous
        deployment (CI/CD) pipeline orchestrated on an EC2 Ubuntu server using CodePipeline.</p>
    <p>8.Scalable and Reliable Delivery:Benefit from a streamlined and scalable deployment process, ensuring rapid and
        reliable software delivery for your projects.</p>
    <p>
    </div>
    <h2>
        <span style="float:left;">Skills :- </span>
    </h2>
    <h3>
        <ul style="float:left; margin-top:5px;">
            Agile Methodologies · Amazon Web Services (AWS) · Amazon EKS · AWS CodePipeline · AWS CodeCommit · AWS
            CodeBuild · AWS CodeDeploy · AWS EC2 · Microsoft Visual Studio Code · Amazon S3 · AWS Identity and Access
            Management (AWS IAM)
        </ul>
    </h3>
    </p>

    <body>