<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hospital Management</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/AWS_DevOps_Demo_project_Deployment.jpeg" rel="icon">
</head>

<body>
    <h1 style="text-align:center; content:jestify;">** Hospital Management ** </h1>


    <div style="margin-left: 10%; margin-top:120px;">
        <p>
        <h3>
            A Hospital Management Project involves creating a comprehensive system to streamline various operations
            within a healthcare facility.
        </h3>
        </p>

        <p>
            It typically includes modules for patient registration, appointment scheduling, electronic health records
            (EHR), billing, pharmacy management, and staff administration.
        </p>

        <p>
            The goal is to enhance efficiency, improve patient care, and provide a centralized platform for managing the
            diverse aspects of hospital operations.
        </p>

    </div>
    <h2>
        <span style="float:left;">Skills :- </span>
    </h2>
    <h3>
        <ul style="float:left; margin-left:50px; margin-top: -23px;">
            Python (Programming Language) · Django · Cascading Style Sheets (CSS) · Cloud Services · Docker engine ·
            Docker-compose · Git · GitHub · HTML5 · Ingress · JavaScript · Kubernetes · MySQL database · Nginx ·
            Orchestration · jenkins · YAML
        </ul>
    </h3>
    </p>

    <body>