<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ToDo Application </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/AWS_DevOps_Demo_project_Deployment.jpeg" rel="icon">

</head>

<body>
    <h1 style="text-align:center; content:jestify;">** ToDo Application  ** </h1>

    <p>
    <h1 style="float:left;">Title: Deploying a Three-Tier ( Nodejs, React, MongoDb 3-tier End to end Deployment )</h1>
    </p>

    <div style="margin-left: 10%; margin-top:120px;">
        <p>
            1. AWS EC2:AWS EC2 serves as our hosting platform, utilizing Ubuntu as the operating system.EC2 instances
            provide the necessary infrastructure for deploying and running our application tiers.
        </p>
        <p>
            2.Git and GitHub:Git and GitHub are integral to our development workflow, allowing for efficient version
            control and collaboration.use Git to pull the latest source code from GitHub and push their changes back to
            the repository.
        </p>
        <p>
            3.Docker and Docker-compose:Docker and Docker-compose streamline our deployment process by containerizing
            our application components. create Dockerfiles to define the environment and dependencies for each
            component.Docker-compose is used to specify the services, networks, and volumes required to run our
            application, typically exposing port 5000 for external access.Containers ensure consistency across different
            environments and simplify deployment by encapsulating the application and its dependencies into portable
            units.
        </p>
        <p>
            4.Jenkins CI/CD:Jenkins CI/CD pipeline automates the entire deployment process, from building and testing to
            deployment. commit their changes to GitHub, triggering Jenkins to initiate the CI/CD pipeline.Jenkins pulls
            the latest source code, builds the Docker images using the Dockerfiles, runs automated tests, and deploys
            the application containers using Docker-compose.With Jenkins CI/CD, we achieve full automation of our
            deployment workflow, enabling rapid and reliable delivery of updates to our application.
        </P>
    </div>

    <p>
    <h2>
        <span style="float:left;">Skills :- </span>
    </h2>
    <h3>
        <ul style="float:left; margin-top:5px;">
            Amazon Web Services (AWS) · Amazon EC2 · Docker-compose · Docker engine · GitHub · Jenkins · Sonarqube
        </ul>
    </h3>
    </p>

    <body>