<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>S_Kumar</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/AWS_DevOps_Demo_project_Deployment.jpeg" rel="icon">

</head>

<body>
    <h1 style="text-align:center; content:jestify;">** 2-tier deployment ** </h1>

    <p>
        <h2>Description: The Vehicle Registration System is a Java-based application designed to manage vehicle registration
            information stored in
            a MySQL database. Leveraging Git, GitHub, Docker, Docker-compose, Jenkins, Amazon ECR, Kubernetes, and Amazon
            EKS,
            this system provides a robust and scalable solution for vehicle registration processes.
        </h2>
    </p>
<div style="margin-left: 10%; margin-top:12px;">
    <p>
        1. Git & GitHub: Git is utilized for version control, enabling collaborative development and version tracking
        among team members
        GitHub serves as the remote repository hosting service, facilitating code sharing, collaboration, and project
        management. Developers can work on different features and fixes concurrently, managing changes through branches
        and pull requests.
    </p>
    <p>
        2. Docker & Docker-compose: Docker is employed for containerization, allowing the application components to be
        encapsulated into lightweight, portable containers.
    </p>
    <p>
        3. Docker-compose simplifies the management of multi-container Docker applications by defining and running
        multi-container Docker applications with a single YAML file. This approach ensures consistency across different
        environments and simplifies the deployment process.
    </P>
    <p>
        4. Amazon ECR & Kubernetes (EKS): Amazon Elastic Container Registry (ECR) is used as a fully managed Docker
        container registry within the AWS
        ecosystem, ensuring secure storage and retrieval of Docker images for deployment. Amazon Elastic Kubernetes
        Service (EKS) serves as the
        orchestration platform for managing and scaling containerized applications within the AWS cloud environment. EKS
        simplifies the deployment,
        management, and scaling of Kubernetes clusters, providing features such as automatic scaling, monitoring, and
        seamless integration with AWS
        services.Description: The Vehicle Registration System is a Java-based application designed to manage vehicle
        registration information
        stored in a MySQL database. Leveraging Git, GitHub, Docker, Docker-compose, Jenkins, Amazon ECR, Kubernetes, and
        Amazon EKS, this
        system provides a robust and scalable solution for vehicle registration processes. Git & GitHub: Git is utilized
        for version control,
        enabling collaborative development and version tracking among team members GitHub serves as the remote
        repository hosting service,
        facilitating code sharing, collaboration, and project management. Developers can work on different features and
        fixes concurrently,
        managing changes through branches and pull requests. Docker & Docker-compose: Docker is employed for
        containerization, allowing the
        application components to be encapsulated into lightweight, portable containers. Docker-compose simplifies the
        management of
        multi-container Docker applications by defining and running multi-container Docker applications with a single
        YAML file. This
        approach ensures consistency across different environments and simplifies the deployment process. Amazon ECR &
        Kubernetes (EKS):
        Amazon Elastic Container Registry (ECR) is used as a fully managed Docker container registry within the AWS
        ecosystem, ensuring secure
        storage and retrieval of Docker images for deployment. Amazon Elastic Kubernetes Service (EKS) serves as the
        orchestration platform
        for managing and scaling containerized applications within the AWS cloud environment. EKS simplifies the
        deployment, management,
        and scaling of Kubernetes clusters, providing features such as automatic scaling, monitoring, and seamless
        integration with AWS services.
    </p>
</div>
    <p>
    <h2>
        <span style="float:left;">Skills :- </span>
    </h2>
    <h3>
        <ul style="float:left; margin-top:5px;">
            Amazon EKS · Agile Methodologies · Amazon Web Services (AWS) · GitHub · Jenkins · Sonarqube · Docker-compose
            · Nginx · ELB · Ingress
        </ul>
    </h3>
    </p>

    <body>