<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/AWS_DevOps_Demo_project_Deployment.jpeg" rel="icon">

</head>

<body>
    <h1 style="text-align:center; content:jestify;">** User Management System ** </h1>

    <p>
    <h1 style="float:left;">Title: It is a User Management System which is used to manage the users activity </h1>
    </p>
    <div style="margin-left: 10%; margin-top:120px;">
        <p>
            Description: This project aims to demonstrate the deployment process of a Todo web application using modern
            DevOps tools and practices. Leveraging GitHub for version control, Docker for containerization, Kubernetes
            for orchestration, and Jenkins for continuous integration and continuous deployment (CI/CD), the deployment
            pipeline ensures efficient development, testing, and deployment workflows.
        </p>
        <p>
            1. **GitHub**: The project utilizes GitHub for version control, enabling collaborative development and
            version tracking. Developers can work on features and bug fixes in branches, ensuring a structured and
            organized development process.
        </p>
        <p>
            2. **Docker**: Docker is employed for containerization, encapsulating the Todo web application and its
            dependencies into lightweight, portable containers. This approach ensures consistency across different
            environments and simplifies deployment across various platforms.
        </p>
        <p>
            3. **Kubernetes**: Kubernetes serves as the orchestration platform for managing and scaling containerized
            applications. By deploying the Todo web app on Kubernetes, the application benefits from automated scaling,
            load balancing, and self-healing capabilities, ensuring high availability and reliability.

        </P>
        <p>
            4. **Jenkins CI/CD**: Jenkins is utilized for implementing continuous integration and continuous deployment
            pipelines. Upon every code commit to the GitHub repository, Jenkins automatically triggers the CI/CD
            pipeline. The pipeline includes stages for building Docker images, running tests, deploying containers to
            Kubernetes clusters, and monitoring the deployment process.
        </p>

        <p>
            Through the integration of these tools, the deployment of the Todo web app becomes streamlined, automated,
            and resilient. Developers can focus on writing code, while the CI/CD pipeline handles the rest, from
            building to deployment, ensuring a smooth and efficient software delivery process.
        </p>
    </div>

    <p>
    <h2>
        <span style="float:left;">Skills :- </span>
    </h2>
    <h3>
        <ul style="float:left; margin-top:5px;">
            JavaScript · HTML5 · Cascading Style Sheets (CSS) · Python (Programming Language) · MySQL database · Django
            REST Framework · Docker engine · Jenkins · Amazon EC2 · Sonarqube · jenkins
        </ul>
    </h3>
    </p>

    <body>